*{
  -webkit-appearance:none; 
  outline:none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }
.page h1{
  font-family: sans-serif;
      font-size: 2.8rem;
    letter-spacing: 2px;
    margin-top: 60px;

}

a, p, li ,
a:focus, a:hover{
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em;
  -webkit-appearance: none;
  appearance: none;
 }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

input, button {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}

.container {
  margin: auto;
  max-width: 1000px;
  padding: 0 20px; }
}


.main-nav .container {
  max-width: 1000px;
}

.navbar {
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  background: #f4f4f4;
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #a7a7a7; }
  .main-nav nav ul li.active a {
    color: #4d4d4d; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative;
  max-width: 600px; }
  .section .container:after {
    position: absolute;
    content: url(../img/separator.png);
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden; }
  .intro img {
    min-width: 148px;
    width: 148px;
    height: 148px;
    border-radius: 99rem; }
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    position: absolute;
    left: -240px;
    top: -150px;
    font-size: 220px;
    z-index: -1;
    color: #f4f4f4; }
  .intro h1 span {
    font-size: 47px; 
      white-space: nowrap;}

.work .work-list {
  margin-left: 0px; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8c8c8c; }
    .work .work-list li:last-child {
      margin-top: 4px;
    }
    .work .work-list li b {
      padding-bottom: 5px;
      font-size: 17px;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; 
        color: #4e4e4e;
    line-height: 1.75em;}
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }

.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.quote {
  background: url(../img/bg.jpg);
  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 {
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

footer {
  padding: 50px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
 footer .social li:first-child {
  margin-left: 0;
 }
    footer .social li a {
      font-size: 1.25em;
      color: #999999; }

.kv-text {
      display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}
.section .kv-text h1 {
  padding-left: 20px;
  margin-bottom: 0;
}
.t1-container {
    position: relative;
    max-height: 230px;
    overflow: hidden;
}
.t1-container.max-height {
  max-height: 100%;
}
.t1-button {
  display: flex;
  margin-bottom: 20px;
  border: none;
  padding: 4px 8px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .swiper-container {
    padding: 0 20px 0;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

 :root {
  --swiper-theme-color: #000;
}

.swiper-pagination {
  display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.mix .img {
    margin-bottom: 30px;
}
.home-portfolio-image {
    position: relative;
    overflow: hidden;
    display: inherit;
}
.img img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
}
.overlay-thumb a.main-portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 45px;
    z-index: 4;
    cursor: url(../img/cursor.png), auto;
}
.img .overlay-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border: none;
    transition: all 0.5s ease-out;
    z-index: 4;
}
.img .overlay-thumb:hover {
    background-color: rgba(123, 238, 199, .9);
}

.img .overlay-thumb.bg-white:hover{
    background-color: rgba(255, 255, 255, 0.65);
}
.overlay-thumb span {
    position: relative;
    z-index: 1;
    line-height: 15px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}

.details {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
.details span.title {
    font-size: 18px;
    letter-spacing: 1.2pt;
    line-height: 24px;
    text-transform: uppercase;
}
.details span.info {
  margin-top: 4px;
    font-size: 13px;
    text-transform: uppercase;
}
.details span.title,
.details span.info {
    color: #111111;
}
.details span.title {
    font-size: 18px;
    letter-spacing: 1.2pt;
    line-height: 24px;
    text-transform: uppercase;
}
.details span.info {
    font-size: 14px;
    text-transform: uppercase;

}
.overlay-thumb .btnBefore,
.overlay-thumb .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000;
    border-width: 0;
    transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -o-transition: all ease-in-out;
    -ms-transition: all ease-in-out;
}
.overlay-thumb .btnBefore {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
}
.overlay-thumb .btnAfter {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
.overlay-thumb:hover .btnBefore {
    border-width: 0 0 3px 3px;
}
.overlay-thumb:hover .btnAfter {
    border-width: 3px 3px 0 0;
}
.overlay-thumb:hover .btnAfter,
.overlay-thumb:hover .btnBefore {
    height: 100%;
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
    -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
    -moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
    -o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
    -ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}
.overlay-thumb:hover:before,
.overlay-thumb:hover span {
    opacity: 1;
}
.overlay-thumb:hover .details span {
    top: 0;
}
.overlay-thumb:hover .title {
    transition-delay: 0.15s;
}
.overlay-thumb:hover .info {
    transition-delay: 0.25s;
}
/* Pills
---------------------------------- */
.filters {
  margin-top: 20px;
}
.filters  .nav {
  margin-left: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover {
  color: #000;
}
.nav-pills > li > a {
  border-radius: 0;
  padding: 4px 16px;
  font-size: 13px;
  color: #a7a7a7;
  text-transform: uppercase;
}
.nav-pills > li:first-child > a {
  padding-left: 0;
}
.isotope-container {
  margin: 0 -12px 80px
}

.isotope-item {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .kv-text {
        flex-direction: column;
  }
  .intro h1:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
  }
  .section .kv-text h1{
    padding-left: 0;
  }
  .intro h1 span {
    font-size: 40px; 
  }
  .kv-text {
    margin-bottom: 0;
  }
  .swiper-slide {
    padding: 0 4px;
  }
  .main-nav .container {
    display: flex;
  }
  .main-nav .group {
        display: inline-block;
    width: 100%;
  }
  #about {
    padding-top: 48px;
  }
  .navbar {
    display: none;
  }
  .navigation-toggle {
    display: block;
  }
}

/*page*/
.case-header {
    height: 115vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.case-header {
    font-size: 20px;
    color: #8c8f94;
    margin-bottom: 80px;
}
.case-header p {
    font-size: 16px;
    text-align: center;
        max-width: 680px;
    margin: 0 auto;
}
.case-header .btn-w {
      background: #fff;
    display: inline-block;
margin-top: 24px;    
margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 48px;
    text-decoration: none;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: auto;
    background: #fff;
}
.case-header .btn-w:hover {
      background: #87ebc9;
      border-color: #87ebc9;
}
.page-case .main-nav {
  background:#fff;
}
/*.case-header .section {
  padding-top: 60px;
}*/
.case-header .header_iphone {
    width: 80%;
    margin: 0 auto;
    max-width: 380px;
}
article p {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
}
article img {
  margin-bottom: 11px;
}
article {
  margin-bottom: 80px;
}

.case-title h2 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  color: #009cad;
  margin-bottom:  36px;
  font-size: calc(2.5rem + 0.9vw);
}
.case-title h5 {
  display: inline-block;
  position: relative;
  font-weight:  500;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.case-title h5:before,.case-title h5:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -128px;
  transform: translateY(-50%);
  width: 116px;
  height: 1px;
  background-color: #aaa;
}
.case-title h5:after {
  left: auto;
  right: -128px;
}
.data-item h3, .data-item .h3 {
    margin-bottom: 0px;
    font-family: roboto condensed,sans-serif;
    font-size: calc(2rem + 0.6vw);
    font-weight: 500;
}
.page-case h3 {
  font-size: calc(2rem + 0.6vw);

    font-family: roboto condensed,sans-serif;
}
.page-case p {
  font-size: 16px;
}
.page-case ul {
  margin-left: 20px;
  font-size: 16px;
}
.data-item p {
  opacity: .5;
}
.iphone-feature {
  position: relative;
    padding: 160px 0 240px
}
.iphone-showcase {
    position: absolute;
    bottom: 0px;
    right: 50%;
}
@media only screen and (max-width: 992px){
  .iphone-showcase {
    position: relative;
    bottom: auto;
    right: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  .iphone-feature {
    padding: 80px 0 60px;
  }
}

@media only screen and (min-width: 992px){
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
}
.bg-gray {
    padding: 120px 0 800px;
    position: relative;
    background-color: #f4f4f5;
    margin-bottom: 50px;
}
.iphone-screens {
  position: relative;
  margin-bottom: 120px;
}
.iphone-screens .images-list li {
    position: absolute;
    width: 320px;
    top: 92px;
    box-shadow: 10px 10px 16px 0px rgb(61 61 62 / 15%);
}
.iphone-screens .images-list li.main-img {
    width: 395px;
    top: 0;
    left: 50%;
    margin-left: -193px;
    box-shadow: none;
}
.iphone-screens .images-list li:nth-child(1) {
    left: 50%;
    margin-left: -880px;
}
.iphone-screens .images-list li:nth-child(2) {
    left: 50%;
    margin-left: -530px;
}
.iphone-screens .images-list li:nth-child(4) {
    right: 50%;
    margin-right: -530px;
}
.iphone-screens .images-list li:nth-child(5) {
    right: 50%;
    margin-right: -880px;
}
@media only screen and (max-width: 992px){
  .iphone-screens .images-list li {
    position: absolute;
    width: 240px;
    top: 68px;
  }
  .iphone-screens .images-list li.main-img {
    width: 295px;
    margin-left: -148px;
  }
  .iphone-screens .images-list li:nth-child(1) {
    margin-left: -680px;
  }
  .iphone-screens .images-list li:nth-child(2) {
    margin-left: -410px;
  }
  .iphone-screens .images-list li:nth-child(4) {
    margin-right: -410px;
  }
  .iphone-screens .images-list li:nth-child(5) {
    margin-right: -680px;
  }
}