@charset "utf-8";
/**************************************
 Base styles
**************************************/
html{overflow-x:hidden}
html *, html:before, html:after{box-sizing:border-box}
:before, :after{z-index:-1}
body{overflow-x:hidden; font-family:'Frank Ruhl Libre',serif,sans-serif,Helvetica,Arial,'微軟正黑體','華康細黑體'; height:100%!important; color:#323232; font-weight:300; padding-right:0!important; cursor:default; overflow:hidden; height:100%}
body.no-scroll{overflow:hidden}
::selection{background:#f1f1f1; color:#419f8f}
::-moz-selection{background:#f1f1f1; color:##419f8f}
body::-webkit-scrollbar, .ekko-lightbox::-webkit-scrollbar{width:6px; height:8px}
body::-webkit-scrollbar-thumb, .ekko-lightbox::-webkit-scrollbar-thumb{background-color:#009f91; border-radius:2px}
body::-webkit-scrollbar-track-piece, .ekko-lightbox::-webkit-scrollbar-track-piece{background-color:#e4e4e4}
*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
.wrapper{background:#FFF; margin-bottom:0; position:relative}
input, botton, select, textarea{outline:none}
ul, ol{list-style:none; padding:0; margin:0}
p{font-size:14px; color:#777; line-height:2em; font-family:'微軟正黑體'; font-weight:500; text-align:justify; margin-bottom:0}
a, a:hover, a:focus, a:active, a.active, input:focus, button:focus{outline:0; outline:none; color:#FFF; text-decoration:none; -webkit-transition:.3s ease-in-out; transition:.3s ease-in-out; cursor:pointer}
.container{max-width:1300px}
.container2{max-width:900px}
.title{color:#323232; font-weight:300; line-height:1; font-size:37px; text-transform:uppercase; margin:0 0 30px}
.zh-title{color:#2c2c2c; margin:0 0 5px 2px; font-size:16px; font-family:'微軟正黑體','華康細黑體',serif; font-weight:bold}
.about, .feature, .service, .product, .contact{padding:90px 0}
.about, .contact{padding-top:70px}
.product{padding-bottom:0px}
.a-btn{width:100%; height:100%; overflow:hidden; position:relative; display:inline-block; text-align:center;  left:-17px}
.a-btn:active{bottom:-5px}
.btn{margin:0 auto; text-align:center; letter-spacing:1px; position:relative; border:1px solid #2c2c2c; border-radius:0; color:#2c2c2c; transition:all ease .5s; margin-left:35px; height:45px; width:150px; text-align:center; white-space:nowrap; vertical-align:middle; -ms-touch-action:manipulation; touch-action:manipulation; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; padding:0}
.btn span{z-index:1; line-height:45px}
.btn:hover{color:#419f8f; border:1px solid #419f8f; transition:all ease .7s}
.btn:before{content:""; position:absolute; border-bottom:1px solid #2c2c2c; width:50px; height:1px; left:-35px; top:20px; float:left; transition:all ease .5s; z-index:1}
.btn:hover:before{left:130px; border-color:#419f8f}
.btn span{display:block; -webkit-transition:-webkit-transform .4s; -moz-transition:-moz-transform .4s; -o-transition:-o-transform .4s; transition:transform .4s; -webkit-transition-timing-function:cubic-bezier(.6,0,.3,1); -moz-transition-timing-function:cubic-bezier(.6,0,.3,1); -o-transition-timing-function:cubic-bezier(.6,0,.3,1); transition-timing-function:cubic-bezier(.6,0,.3,1); color:#141414}
.btn:hover span{-webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0)}
.btn:active:before{bottom:5px}
/**************************************
	Nav
**************************************/
nav{position:absolute; top:0; width:100%; z-index:11; padding:20px 30px 18px; height:75px; border-bottom:1px solid rgba(255,255,255,0.20)}
.logo{float:left; display:inline-block; margin-top:5px}
.logo span{display:inline-block; color:#FFF; padding-left:5px; border-left:#009f91 solid 7px; line-height:1; margin-left:20px; vertical-align:bottom}
.navbar{min-height:auto; margin-bottom:0; margin-right:180px}
.navbar-nav{float:right; position:relative}
.navbar-nav>li>a{padding:0 20px; display:inline-block; line-height:1.3; font-size:15px; letter-spacing:1px}
.scroll a span{display:block; font-family:'Alegreya Sans SC','Arial'; font-size:12px; font-style:italic; font-weight:lighter; margin-top:1px}
.underline:after{content:' '; clear:both; display:block; width:100%}
.line{content:' '; display:block; background:#419f8f; height:2px; width:104px; margin-left:0; transition:all .3s .2s; bottom:-18px; opacity:0; position:absolute}
.underline li:hover ~ .line{ opacity:1}
.underline li:nth-of-type(1):hover ~ .line{ margin-left:0}
.underline li:nth-of-type(2):hover ~ .line{ margin-left:104px}
.underline li:nth-of-type(3):hover ~ .line{ margin-left:208px}
.underline li:nth-of-type(4):hover ~ .line{ margin-left:312px}
.underline li:nth-of-type(5):hover ~ .line{ margin-left:416px}
.nav-color{background:rgba(44,44,44,0)}
/**************************************
	S1-VideoBanner styles
**************************************/
#background_video{object-fit:cover!important; height:100vh!important; width:100%!important; min-width:100%!important}
#video_cover{position:absolute; width:100%; height:100%; background-size:cover; background-position:center}
section.videobanner{padding:0; position:relative; height:100vh; overflow:hidden}
.video-mask{height:100vh; width:100%; position:absolute; background:rgba(51,51,51,0.3)}
.video-intro{position:absolute; color:#FFF; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); width:100%}
.video-title{font-size:58px; letter-spacing:2px; margin:0}
.video-title span{width:100px; display:inline-block; background:#FFF; height:2px; margin:10px 12px}
.video-intro h4{margin-top:3px; font-family:'微軟正黑體'}
.scroll-down{width:40px; height:40px; background:#FFF; display:inline-block; border-radius:99em; position:absolute; bottom:30px; left:50%; -webkit-transform:translatex(-50%); transform:translatex(-50%); -webkit-transition:-webkit-transform ease-out 0.1s,background 0.2s; -moz-transition:-moz-transform ease-out 0.1s,background 0.2s; transition:transform ease-out 0.1s,background 0.2s}
.scroll-down:after{pointer-events:none; position:absolute; width:40px; height:40px; border-radius:50%; content:''; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; top:0; left:0; padding:0; z-index:-1; box-shadow:0 0 0 2px rgba(255,255,255,0.1); opacity:0; -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); transform:scale(0.9)}
.scroll-down:hover:after{-webkit-animation:sonarEffect 0.8s ease-out 75ms; -moz-animation:sonarEffect 0.8s ease-out 75ms; animation:sonarEffect 0.8s ease-out 75ms}
 @-webkit-keyframes sonarEffect{ 
	0%{ opacity:0.2}
 40%{ opacity:0.35;  box-shadow:1px 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4)}
 100%{ box-shadow:0 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4);  -webkit-transform:scale(1.2);  opacity:0}
}
@-moz-keyframes sonarEffect{ 
	0%{ opacity:0.2}
 40%{ opacity:0.35;  box-shadow:1px 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4)}
 100%{ box-shadow:0 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4);  -moz-transform:scale(1.2);  opacity:0}
}
@keyframes sonarEffect{ 
	0%{ opacity:0.2}
 40%{ opacity:0.35;  box-shadow:1px 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4)}
 100%{ box-shadow:0 0 0 2px rgba(255,255,255,0),0 0 5px 5px #FFF,0 0 0 15px rgba(255,255,255,0.4);  transform:scale(1.2);  opacity:0}
}
.scroll-down img{position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%)}
.sond-box{position:absolute; right:75px; top:17px; z-index:9996}
.sound{width:40px; height:40px; position:relative; cursor:pointer; display:inline-block; opacity:.8; background:transparent; box-shadow:none; border:none; padding:0; text-align:left}
.sound:hover{opacity:1}
.sound--icon{color:#FFF; width:75%; height:100%; line-height:40px; font-size:28px; display:block; margin:auto; background-image:url(../img/sound.svg); background-size:13px; background-repeat:no-repeat; background-position:0px}
.sound--wave{position:absolute; border:1px solid transparent; border-right:1px solid #FFF; border-radius:50%; -webkit-transition:all 200ms; transition:all 200ms; margin:auto; top:0; bottom:0; left:0; right:6px}
.sound--wave_one{width:40%; height:40%}
.sound--wave_two{width:70%; height:70%}
.sound-mute .sound--wave{border-radius:0; width:50%; height:50%; border-width:0 1px 0 0}
.sound-mute .sound--wave_one{-webkit-transform:rotate(45deg) translate3d(0,-50%,0); transform:rotate(45deg) translate3d(0,-50%,0)}
.sound-mute .sound--wave_two{-webkit-transform:rotate(-45deg) translate3d(0,50%,0); transform:rotate(-45deg) translate3d(0,50%,0)}
/**************************************
	S1  Style
**************************************/
section.one {padding-top:60px}
.one p {text-align:center}
section.one .item span {display: block; width: 13px; height: 1px;	background: #999;	vertical-align: center;	margin: 5px auto 20px;}
/**************************************
	S2 About Slider Style
**************************************/
.cd-slider-wrapper{position:relative; height:80vh; padding:0px}
.cd-slider-wrapper{padding:0px}
.cd-slider{position:relative; z-index:1; height:100%; overflow:hidden}
.cd-slider li{position:absolute; top:0; left:0; height:100%; width:100%; -webkit-transform:translateX(-100%); -moz-transform:translateX(-100%); -ms-transform:translateX(-100%); -o-transform:translateX(-100%); transform:translateX(-100%); -webkit-transition:-webkit-transform 0.8s; -moz-transition:-moz-transform 0.8s; transition:transform 0.8s}
.cd-slider li.is-visible{-webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0)}
.cd-slider .cd-half-block{height:50%; background-position:center center; background-repeat:no-repeat}
.cd-slider li:first-of-type .image{background-image:url(../img/slider-img01.jpg)}
.cd-slider li:nth-of-type(2) .image{background-image:url(../img/slider-img02.jpg); background-position:left}
.cd-slider li:nth-of-type(3) .image{background-image:url(../img/slider-img03.jpg); background-position:left}
.cd-slider .image{background-size:cover}
.cd-slider .content{padding:30px; color:#888; background-color:#fdfdfd; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; background-image:url(../img/b2.png); background-repeat:repeat; width:45%}
.cd-slider .light-bg{color:rgba(0,0,0,0.6)}
.cd-slider span{color:#2c2c2c; margin-top:30px; padding-left:55px; display:inline-block; position:relative; font-weight:normal; font-family:'Alegreya Sans SC','Arial'}
.cd-slider span:before{content:''; width:50px; height:1px; background-color:#2c2c2c; display:inline-block; top:10px; position:absolute; left:0}
.cd-slider li{pointer-events:none; z-index:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); -webkit-transition:z-index 0s 0.7s; -moz-transition:z-index 0s 0.7s; transition:z-index 0s 0.7s}
.cd-slider li.is-visible{pointer-events:auto; z-index:3; -webkit-transition:z-index 0s 0s; -moz-transition:z-index 0s 0s; transition:z-index 0s 0s}
.cd-slider li.is-visible.covered{ z-index:2}
.cd-slider .cd-half-block{height:100%; width:50%; float:left}
.cd-slider .cd-half-block.image{-webkit-transform:translateX(-120%); -moz-transform:translateX(-120%); -ms-transform:translateX(-120%); -o-transform:translateX(-120%); transform:translateX(-120%); -webkit-transition:-webkit-transform 0.6s 0s ease-in-out; -moz-transition:-moz-transform 0.6s 0s ease-in-out; transition:transform 0.6s 0s ease-in-out; width:55%}
.cd-slider .cd-half-block.content{-webkit-transform:translateX(-225%); -moz-transform:translateX(-225%); -ms-transform:translateX(-225%); -o-transform:translateX(-225%); transform:translateX(-225%); -webkit-transition:-webkit-transform 0s 0.4s; -moz-transition:-moz-transform 0s 0.4s; transition:transform 0s 0.4s; width:45%}
.cd-slider li.is-visible .cd-half-block.content, .cd-slider li.is-visible .cd-half-block.image{-webkit-transform:translateX(0%); -moz-transform:translateX(0%); -ms-transform:translateX(0%); -o-transform:translateX(0%); transform:translateX(0%)}
.cd-slider li.is-visible .cd-half-block.content{-webkit-transition:-webkit-transform 0.7s 0s ease-in-out; -moz-transition:-moz-transform 0.7s 0s ease-in-out; transition:transform 0.7s 0s ease-in-out}
.cd-slider .content{ display:table; padding:0 40px}
.cd-slider .content >div{display:table-cell; vertical-align:bottom; padding-bottom:75px}
.cd-slider .content{padding:0 9% 0 5%; text-align:justify}
/* -------------------------------- 
Slider Navigation
-------------------------------- */
.cd-slider-navigation{ position:absolute; z-index:3; left:55%; right:auto; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); bottom:0px}
.cd-slider-navigation li{display:inline-block; padding:0; height:50px}
.cd-slider-navigation li.selected a{background-color:#323232}
.cd-slider-navigation a{display:block; height:10px; width:10px; border-radius:50%; color:transparent;  white-space:nowrap; text-indent:100%; overflow:hidden; border:1px solid #323232}
@media only screen and (min-width:900px){.cd-slider-navigation{padding:0; background-color:#fdfdfd;  -webkit-transform:translateZ(2px) translateX(100%); -moz-transform:translateZ(2px) translateX(100%); -ms-transform:translateZ(2px) translateX(100%); -o-transform:translateZ(2px) translateX(100%); transform:translateZ(2px) translateX(-100%); -webkit-transition:-webkit-transform 0.3s; -moz-transition:-moz-transform 0.3s; transition:transform 0.3s}
.cd-slider-navigation.slider-animating{ -webkit-transform:translateX(50%) scale(1); -moz-transform:translateX(50%) scale(1); -ms-transform:translateX(50%) scale(1); -o-transform:translateX(50%) scale(1); transform:translateX(50%) scale(1)}
.cd-slider-navigation a{height:28px; width:50px; line-height:30px; text-align:center;  text-indent:0; border:none; border-radius:0; color:#555; font-family:'Alegreya Sans SC',Arial,Helvetica,sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; border-right:1px solid rgba(85,85,85,0.5); margin:11px 0 9px}
.cd-slider-navigation li:nth-of-type(3) a{border:none}
.cd-slider-navigation li.selected a{background-color:transparent; font-weight:bold}
}
/**************************************
	S3 Feature Style
**************************************/
.frature-big-img img{width:100%}
.frature-big-img{margin:60px 0 20px; position:relative; height:360px; background:url('../img/feature-img-bg.jpg') no-repeat center}
.frature-big-img-i{display:none}
.frature-big-img:before{content:''; width:1px; height:130px; background-color:#4a4a4a; display:inline-block; position:absolute; left:10%; z-index:1; top:-75px; -webkit-animation:elasticus 1.5s cubic-bezier(1,0,0,1) infinite;  -moz-animation:elasticus 1.5s cubic-bezier(1,0,0,1) infinite;  -o-animation:elasticus 1.5s cubic-bezier(1,0,0,1) infinite;  animation:elasticus 1.5s cubic-bezier(1,0,0,1) infinite}
 @-webkit-keyframes elasticus{ 
	0%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
 50%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 50.1%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 100%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
}
 @-moz-keyframes elasticus{ 
	0%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
 50%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 50.1%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 100%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
}
 @-o-keyframes elasticus{ 
	0%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
 50%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 50.1%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 100%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
}
 @keyframes elasticus{ 
	0%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
 50%{ -webkit-transform-origin:0% 0%;  -ms-transform-origin:0% 0%;  -moz-transform-origin:0% 0%;  -o-transform-origin:0% 0%;  transform-origin:0% 0%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 50.1%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,1);  -ms-transform:scale(1,1);  -moz-transform:scale(1,1);  -o-transform:scale(1,1);  transform:scale(1,1)}
 100%{ -webkit-transform-origin:0% 100%;  -ms-transform-origin:0% 100%;  -moz-transform-origin:0% 100%;  -o-transform-origin:0% 100%;  transform-origin:0% 100%;  -webkit-transform:scale(1,0);  -ms-transform:scale(1,0);  -moz-transform:scale(1,0);  -o-transform:scale(1,0);  transform:scale(1,0)}
}
.frature-item h3{color:#2c2c2c; margin:15px 10px 7px; font-size:20px}
.frature-item h4{color:#333; margin:5px 10px 10px; font-weight:normal; font-size:16px}
.frature-item{border-bottom:1px solid #4a4a4a; padding:0 0 12px; margin-top:50px; display:inline-block}
.frature-item img{width:100%}
/**************************************
	S4 Service Style
**************************************/
.service01, .service02{position:relative; display:inline-block; width:100%}
.service01{background:url(../img/bg-left.png) no-repeat; background-position:left; background-size:contain}
.service02{margin-top:150px; background:url(../img/bg-right.png) no-repeat; background-position:right bottom; background-size:contain}
.service-img{padding:0; width:55%}
.service01 .service-img{float:right}
.service02 .service-img{float:left}
.service-img img{width:100%}
.service30,.service08 { height:450px; width:100%;}
.service08{background: url(../img/service-01.jpg) no-repeat center;}
.service30{background: url(../img/service-02-bg.jpg) no-repeat center;}
.service-01, .service-02{ display:none}
.service .title span{font-weight:bold; font-size:32px}
.service-t{left:50%; transform:translateX(-50%); bottom:0; position:absolute; margin-bottom:60px}
.service02 .service-t >div{float:right}
.service01 .service-t >div{padding-right:50px; max-width:515px}
.service02 .service-t >div{padding-left:50px; max-width:515px}
.service .a-btn{margin-top:30px; display:inline-block; overflow:hidden; text-align:left;  left:0}
/**************************************
	S5 Feature Style
**************************************/
.product .pro-title{position:relative; margin:0 0 50px}
.pro-title .title{display:inline-block; margin:0; background:#FFF; position:relative; padding:0 15px; z-index:2}
.pro-title hr{border-top:1px solid #4a4a4a; position:absolute; width:100%; top:50%; margin:0}
/**************************************
	S6 Product Style
**************************************/
.img-div img{width:100%}
.pro-info h3{font-family:'Alegreya Sans SC',Arial,serif,sans-serif,Helvetica; font-size:20px; margin-bottom:8px}
.sale{display:inline-block; margin-right:10px}
.sale > div{ display:inline-block}
.sale span{font-size:15px; color:#009f91; font-weight:bold}
.sale p{display:inline-block; background:#009f91; color:#FFF; padding:6px 13px; line-height:1; margin-left:8px; font-size:13px; letter-spacing:0.5px}
.price{font-size:13px; color:#888; font-weight:normal; display:inline-block}
.price span{text-decoration:line-through; text-decoration-color:#de6363; color:#de6363; width:20px}
.pro-info p.intro{margin-top:5px; margin-bottom:30px;  overflow:hidden;  text-overflow:ellipsis;  display:-webkit-box;  -webkit-line-clamp:4;  -webkit-box-orient:vertical}
.product .row{margin-right:-30px; margin-left:-30px}
.product .item{padding-right:30px; padding-left:30px}
.product .item >div{border:1px solid #e5e5e5; padding:50px}
.pro-title .zh-title{display:none}
/**************************************
	S7 Contact Style
**************************************/
.contact-map{height:300px; margin-bottom:50px}
.contact-map .map{height:100%; width:100%}
.gm-style-pbt{text-align:center}
div.gmnoprint, div.gm-style-cc{display:none!important}
.gm-style-pbc{background-color:rgba(78,159,142,0.65)}
.contact-info{padding:40px; border:solid #419f8f 3px; display:inline-block; width:100%}
.contact-title{padding-left:0}
.contact-title:after{content:''; width:60px; height:1px; background:#999}
.contact-title .title{margin-bottom:10px}
.contact-title h4{font-size:16px; color:#333; margin:0; font-weight:bold}
.contact-intro{padding-right:0; width:auto; padding:0; float:right}
.contact-intro h3{font-size:20px; color:#419f8f; font-weight:bold; margin:0}
.contact-intro .time{color:#333; font-size:36px; font-family:Arial,serif,sans-serif,Helvetica; font-weight:normal}
.right-arrow{height:33px; width:33px; display:inline-block; vertical-align:bottom; position:relative; left:-2px; top:-3px}
.right-arrow:after{content:''; border-right:1px solid #888; border-top:1px solid #888; display:block; height:22px; width:22px; margin-left:1%; -webkit-transform:rotate(45deg) translateX(4px) translateY(4px); transform:rotate(45deg) translateX(4px) translateY(4px)}
.contact-intro h5{display:inline-block; margin-right:5px; font-weight:normal; color:#888; font-family:'微軟正黑體'; margin:9px 5px 0 0}
.mailto, .mailto:hover, .mailto:focus, .mailto:active, .mailto.active{color:#419f8f; font-weight:normal; font-size:24px; font-family:Arial,serif,sans-serif,Helvetica; line-height:53px; display:inline-block}
.tel-btn{background:#419f8f; padding:15px 30px; color:#FFF; margin-right:15px; overflow:hidden; position:relative; position:relative; overflow:hidden; display:inline-block; width:40%; float:right; margin-right:0; font-family:Arial,serif,'微軟正黑體',sans-serif,Helvetica; font-size:18px; font-weight:normal}
.tel-btn img{margin:0 8px 0 7px}
.tel-btn span{position:relative; top:2px; letter-spacing:0px}
.tel-btn:after{background:#fff; content:""; height:155px; left:-75px; opacity:.2; position:absolute; top:-50px; -webkit-transform:rotate(35deg); transform:rotate(35deg); -webkit-transition:all 550ms cubic-bezier(0.19,1,0.22,1); transition:all 550ms cubic-bezier(0.19,1,0.22,1); width:50px; z-index:1}
.tel-btn:hover, .tel-btn:focus{color:#FFF}
.tel-btn:hover:after{left:120%; -webkit-transition:all 550ms cubic-bezier(0.19,1,0.22,1); transition:all 550ms cubic-bezier(0.19,1,0.22,1)}
.contact-info2{margin-top:30px}
/**************************************
	FOOTER
**************************************/
footer{font-family:'Alegreya Sans SC',Arial,serif,sans-serif,Helvetica; font-size:14px; color:#aaadb0; padding:30px 0 20px}
.facebook a, .facebook a:hover, .facebook a:active, .facebook a:focus{color:#3b5998; font-weight:bold; letter-spacing:1px}
.facebook img{display:inline-block; margin:0 3px 0 3px; margin-bottom:6px; width:14px}
/**************************************
	Light box
**************************************/
.modal-backdrop { z-index:99998}
.modal { z-index:99999}
.modal-dialog{width:75%!important;max-width:800px!important;margin:80px auto}
.modal-open .modal{ padding:0!important}
.ekko-lightbox-container{position:relative}
.ekko-lightbox-nav-overlay{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%}
.ekko-lightbox-nav-overlay a{z-index:105;display:block;width:49%;height:200px;   top: 50%;-webkit-transform: translateY(-50%);
    transform: translateY(-50%);font-size:30px;color:#fff;filter:dropshadow(color=#000,offx=2,offy=2);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s;opacity:1;text-decoration:none;color:#bdbdbd;position:relative}
.ekko-lightbox-nav-overlay a:empty{width:20%}
.ekko-lightbox-nav-overlay a:hover{color:#ee7624}
.ekko-lightbox .glyphicon-chevron-left{left:0;float:left;padding-left:20px;text-align:left;    left: -15%;}
.ekko-lightbox .glyphicon-chevron-right{right:0;float:right;padding-right:20px;text-align:right;   right: -15%;}
.ekko-lightbox .modal-footer{text-align:left}
.reports .cont img{width:100%}
.modal-header{position:absolute;right:-50px;top:-60px;border-bottom:none;padding:0}
.modal-body{padding:10px;background:#000}
.reports-title{margin-top:10px;color:#FFF;}
button.close,button.close:hover{color:#FFF;opacity:1;font-weight:lighter;font-size:50px;text-shadow:none}
.re-title{display:inline;height:60px;line-height:60px;padding-left:20px}
.report-video .re-title{ padding-left:5px}
.report-video .r-category-icon img{ margin-bottom:5px}
.re-title p{color:#FFF;display:inline-block;font-size:18px;width:50%;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;margin-bottom:-8px;    line-height: 60px;vertical-align: top;}
.modal-backdrop.in{width: 100%;height: 100vh;}
.modal-backdrop { position: fixed;}
.modal-open {  overflow-y: hidden;}
/**************************************
	Other Animation
**************************************/
.has-animation{position:relative}
.has-animation p, .has-animation img, .sale p{opacity:0}
.has-animation.animate-in p, .has-animation.animate-in img{animation:textHidden .1s 1.1s forwards}
.has-animation.animate-in:before, .has-animation.animate-in:after{content:''; position:absolute; top:0; right:0; height:100%; z-index:10}
.has-animation.animate-in:before{background-color:#323232; animation-delay:.3s; -webkit-animation-delay:.3s}
.has-animation.animation-rtl.animate-in:before{background-color:#323232}
.has-animation.animation-ltr.animate-in:before{animation:revealLTR 1.5s ease; -webkit-animation:revealLTR 1.5s ease}
.has-animation.animation-ltr.animate-in:after{animation:revealLTR 1s .5s ease; -webkit-animation:revealLTR 1s .5s ease}
.has-animation.animation-rtl.animate-in:before{animation:revealRTL 1.5s ease; -webkit-animation:revealRTL 1.5s ease}
.has-animation.animation-rtl.animate-in:after{animation:revealRTL 1s .5s ease; -webkit-animation:revealRTL 1s .5s ease}
.has-animation.has-animation-sale.animate-in p{animation:textHidden .1s 1s forwards}
.has-animation.animate-in.has-animation-sale:before{background-color:#fdfdfd; animation-delay:.4s; -webkit-animation-delay:.4s}
.sale .has-animation.animate-in.has-animation-sale:before{ background-color:#429f8f}
.has-animation.animate-in.has-animation-sale:after{background-color:transparent; animation-delay:.8s; -webkit-animation-delay:0.8s}
.sale .has-animation.animate-in.has-animation-sale:after{background-color:#ececec}
.has-animation.animation-ltr.has-animation-sale.animate-in:before{animation:revealLTR 1.3s ease; -webkit-animation:revealLTR 1.3s ease}
.has-animation.animation-ltr.has-animation-sale.animate-in:after{animation:revealLTR .8s .4s ease; -webkit-animation:revealLTR .8s .4s ease}
/*
 * Animations
 */
@keyframes revealRTL{
	0%{width:0; right:0}
65%{width:100%; right:0}
100%{width:0; right:100%}
}
@keyframes revealLTR{
	0%{width:0; left:0}
65%{width:100%; left:0}
100%{width:0; left:100%}
}
@keyframes textHidden{
	0%{opacity:0}
100%{opacity:1}
}
.l-scroll-count, .l-scroll-count:hover, .l-scroll-count:focus, .l-scroll-count:active{position:fixed; top:50%; right:20px; z-index:9996; overflow:hidden; width:32px; font-size:10px; font-size:1.0rem; transition:color .2s ease,top .8s cubic-bezier(.165,.84,.44,1) 1s; -webkit-transform:translate(0,-50%); transform:translate(0,-50%); color:#323232}
.l-scroll-count-molecular, .l-scroll-count-denominator{display:inline-block; width:100%; line-height:30px; text-align:center}
.l-scroll-count-line-over, .l-scroll-count-line{display:inline-block; position:absolute; top:50%; width:100%; height:1px; -webkit-transform:translate(0,-50%); transform:translate(0,-50%); transition:background-color .25s ease}
.l-scroll-count-line-over{z-index:9998; background-color:#419f8f; width:0%}
.l-scroll-count-line{left:0; z-index:9997; background-color:rgba(0,0,0,.3)}
/**************************************
	CSS SLIDER
**************************************/
.mob{ display:none;position: relative;}
.carousel{display:inline-block;}
.carousel-inner .active.left{left:-25%}
.carousel-inner .next{left:25%}
.carousel-inner .prev{left:-25%}
.carousel-control,.carousel-control:hover,.carousel-control:focus,.carousel-control:active{width:4%;color:gray;text-shadow:none}
.carousel-control i{font-size:30px;top:50%;position:absolute;-webkit-transform:translatey(-50%);-moz-transform:translatey(-50%);-ms-transform:translatey(-50%);-o-transform:translatey(-50%);transform:translatey(-50%)}
.carousel-control.left{margin-left:0;background-image:none;text-align:left;left:-5%}
.carousel-control.right{margin-left:0;background-image:none;text-align:rigth;right:-5%}
.slider .note-list,.slider .recipe-list{width:100%}
.slider .recipe-list{background:#FFF}
.slider .recipe-list .inListT:after{background-image:url(../img/gradient-white.png)}
.csslider1{display:inline-block;position:relative;max-width:100%;width:100%;margin-top:0}
.csslider1 > .cs_anchor{display:none}
.csslider1 > ul{position:relative;z-index:1;font-size:0;line-height:0;margin:0 auto;padding:0;overflow:hidden;white-space:nowrap}
.csslider1 > ul > li.img img{width:100%}
.csslider1 > ul > li.img{font-size:0;-khtml-user-select:none;-moz-user-select:none;user-select:none}
.csslider1 > ul > li{position:relative;display:inline-block;width:100%;height:100%;overflow:hidden;font-size:15px;font-size:initial;line-height:normal;white-space:normal;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.csslider1 .cs_lnk{position:absolute;top:-9999px;left:-9999px;font-size:0;opacity:0;filter:alpha(opacity=0)}
.csslider1 > .cs_arrowprev,.csslider1 > .cs_arrownext{position:absolute;top:50%;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:5}
.csslider1 > .cs_arrowprev > label,.csslider1 > .cs_arrownext > label{position:absolute;text-decoration:none;cursor:pointer;opacity:0;z-index:-1}
.csslider1 > .cs_arrowprev{left:0}
.csslider1 > .cs_arrownext{right:0}
.csslider1 > .cs_arrowprev > label.num2,.csslider1 > .cs_arrownext > label.num1{opacity:1;z-index:5}
.csslider1 > .slide:checked ~ .cs_arrowprev > label,.csslider1 > .slide:checked ~ .cs_arrownext > label{opacity:0;z-index:-1}
.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num2,.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num0{opacity:1;z-index:5}
@-webkit-keyframes arrow {
0%,33.32333333333334%{opacity:1;z-index:5}
33.333333333333336%,100%{opacity:0;z-index:-1}
}
@-moz-keyframes arrow {
0%,33.32333333333334%{opacity:1;z-index:5}
33.333333333333336%,100%{opacity:0;z-index:-1}
}
@-ms-keyframes arrow {
0%,33.32333333333334%{opacity:1;z-index:5}
33.333333333333336%,100%{opacity:0;z-index:-1}
}
@-o-keyframes arrow {
0%,33.32333333333334%{opacity:1;z-index:5}
33.333333333333336%,100%{opacity:0;z-index:-1}
}
@keyframes arrow {
0%,33.32333333333334%{opacity:1;z-index:5}
33.333333333333336%,100%{opacity:0;z-index:-1}
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1,.csslider1 > #cs_pause1:checked ~ .cs_arrowprev > label.num2,.csslider1 > #cs_pause1:checked ~ .cs_arrownext > label.num1{-webkit-animation:arrow 24000ms infinite -2000ms;-moz-animation:arrow 24000ms infinite -2000ms;-ms-animation:arrow 24000ms infinite -2000ms;-o-animation:arrow 24000ms infinite -2000ms;animation:arrow 24000ms infinite -2000ms}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2,.csslider1 > #cs_pause1:checked ~ .cs_arrowprev > label.num0,.csslider1 > #cs_pause1:checked ~ .cs_arrownext > label.num2{-webkit-animation:arrow 24000ms infinite 6000ms;-moz-animation:arrow 24000ms infinite 6000ms;-ms-animation:arrow 24000ms infinite 6000ms;-o-animation:arrow 24000ms infinite 6000ms;animation:arrow 24000ms infinite 6000ms}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0,.csslider1 > #cs_pause1:checked ~ .cs_arrowprev > label.num1,.csslider1 > #cs_pause1:checked ~ .cs_arrownext > label.num0{-webkit-animation:arrow 24000ms infinite 14000ms;-moz-animation:arrow 24000ms infinite 14000ms;-ms-animation:arrow 24000ms infinite 14000ms;-o-animation:arrow 24000ms infinite 14000ms;animation:arrow 24000ms infinite 14000ms}
.csslider1.cs_pauseHover:hover > .cs_arrowprev > label,.csslider1 > #cs_pause1:checked ~ .cs_arrowprev > label,.csslider1.cs_pauseHover:hover > .cs_arrownext > label,.csslider1 > #cs_pause1:checked ~ .cs_arrownext > label{-webkit-animation-play-state:paused!important;-moz-animation-play-state:paused!important;-ms-animation-play-state:paused!important;-o-animation-play-state:paused!important;animation-play-state:paused!important}
.csslider1 > .slide:checked ~ .cs_arrowprev > label,.csslider1 > .slide:checked ~ .cs_arrownext > label{-webkit-animation:none;-moz-animation:none;-ms-animation:none;-o-animation:none;animation:none}
.csslider1 > .cs_bullets{position:absolute;left:0;width:100%;z-index:6;font-size:0;line-height:8pt;text-align:center;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.csslider1 > .cs_bullets > div{margin-left:-50%;width:100%}
.csslider1 > .cs_bullets > label{position:relative;display:inline-block;cursor:pointer}
.csslider1 > .cs_bullets > label > .cs_thumb{visibility:hidden;position:absolute;opacity:0;z-index:1;line-height:0;left:-0;top:-0}
.csslider1 > .cs_description{z-index:3}
.csslider1 > .cs_description a,.csslider1 > .cs_description a:visited,.csslider1 > .cs_description a:active{color:inherit}
.csslider1 > .cs_description a:hover{text-decoration:none}
.csslider1 > .cs_description > label{position:absolute;word-wrap:break-word;white-space:normal;text-align:left;max-width:50%;left:0}
.csslider1 > .cs_description > label > span{vertical-align:top}
.csslider1 > .cs_description > label span{display:inline-block}
.csslider1 > ul > li{position:absolute;left:0;top:0;display:inline-block;opacity:0;z-index:1;-webkit-transition:opacity 2000ms ease,-webkit-transform 24000ms linear;-moz-transition:opacity 2000ms ease,-moz-transform 24000ms linear;-ms-transition:opacity 2000ms ease,-ms-transform 24000ms linear;-o-transition:opacity 2000ms ease,-o-transform 24000ms linear;transition:opacity 2000ms ease,transform 24000ms linear}
.csslider1 > ul > li.num0{opacity:0;-webkit-transform:scale(1.2) translate(-11.53846%,11.53846%);-moz-transform:scale(1.2) translate(-11.53846%,11.53846%);-ms-transform:scale(1.2) translate(-11.53846%,11.53846%);-o-transform:scale(1.2) translate(-11.53846%,11.53846%);transform:scale(1.2) translate(-11.53846%,11.53846%)}
.csslider1 > ul > li.num1{opacity:0;-webkit-transform:scale(1.2) translate(11.53846%,11.53846%);-moz-transform:scale(1.2) translate(11.53846%,11.53846%);-ms-transform:scale(1.2) translate(11.53846%,11.53846%);-o-transform:scale(1.2) translate(11.53846%,11.53846%);transform:scale(1.2) translate(11.53846%,11.53846%)}
.csslider1 > ul > li.num2{opacity:0;-webkit-transform:scale(1.2) translate(-11.53846%,-11.53846%);-moz-transform:scale(1.2) translate(-11.53846%,-11.53846%);-ms-transform:scale(1.2) translate(-11.53846%,-11.53846%);-o-transform:scale(1.2) translate(-11.53846%,-11.53846%);transform:scale(1.2) translate(-11.53846%,-11.53846%)}
.csslider1 > ul > li.num0{opacity:1;z-index:2}
.csslider1 > .slide:checked ~ ul > li.num0{opacity:0;z-index:1}
.csslider1 > #cs_slide1_0:checked ~ ul > li.num0,.csslider1 > #cs_slide1_1:checked ~ ul > li.num1,.csslider1 > #cs_slide1_2:checked ~ ul > li.num2{opacity:1;-webkit-transform:scale(1) translate(0,0);-moz-transform:scale(1) translate(0,0);-ms-transform:scale(1) translate(0,0);-o-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0);z-index:2}
@-webkit-keyframes kenbernsBR {
0%,100%{-webkit-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-webkit-transform:scale(1.2);opacity:0;z-index:2}
}
@-moz-keyframes kenbernsBR {
0%,100%{-moz-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-moz-transform:scale(1.2);opacity:0;z-index:2}
}
@-ms-keyframes kenbernsBR {
0%,100%{-ms-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-ms-transform:scale(1.2);opacity:0;z-index:2}
}
@-o-keyframes kenbernsBR {
0%,100%{-o-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-o-transform:scale(1.2);opacity:0;z-index:2}
}
@keyframes kenbernsBR {
0%,100%{transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{transform:scale(1.2);opacity:0;z-index:2}
}
@-webkit-keyframes kenbernsBL {
0%,100%{-webkit-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-webkit-transform:scale(1.2);opacity:0;z-index:2}
}
@-moz-keyframes kenbernsBL {
0%,100%{-moz-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-moz-transform:scale(1.2);opacity:0;z-index:2}
}
@-ms-keyframes kenbernsBL {
0%,100%{-ms-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-ms-transform:scale(1.2);opacity:0;z-index:2}
}
@-o-keyframes kenbernsBL {
0%,100%{-o-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-o-transform:scale(1.2);opacity:0;z-index:2}
}
@keyframes kenbernsBL {
0%,100%{transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{transform:scale(1.2);opacity:0;z-index:2}
}
@-webkit-keyframes kenbernsTL {
0%,100%{-webkit-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-webkit-transform:scale(1.2);opacity:0;z-index:2}
}
@-moz-keyframes kenbernsTL {
0%,100%{-moz-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-moz-transform:scale(1.2);opacity:0;z-index:2}
}
@-ms-keyframes kenbernsTL {
0%,100%{-ms-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-ms-transform:scale(1.2);opacity:0;z-index:2}
}
@-o-keyframes kenbernsTL {
0%,100%{-o-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-o-transform:scale(1.2);opacity:0;z-index:2}
}
@keyframes kenbernsTL {
0%,100%{transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{transform:scale(1.2);opacity:0;z-index:2}
}
@-webkit-keyframes kenbernsTR {
0%,100%{-webkit-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-webkit-transform:scale(1.2);opacity:0;z-index:2}
}
@-moz-keyframes kenbernsTR {
0%,100%{-moz-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-moz-transform:scale(1.2);opacity:0;z-index:2}
}
@-ms-keyframes kenbernsTR {
0%,100%{-ms-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-ms-transform:scale(1.2);opacity:0;z-index:2}
}
@-o-keyframes kenbernsTR {
0%,100%{-o-transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{-o-transform:scale(1.2);opacity:0;z-index:2}
}
@keyframes kenbernsTR {
0%,100%{transform:scale(1);opacity:0}
8.333333333333334%,33.333333333333336%{opacity:1}
41.66666666666667%,66.66666666666666%{transform:scale(1.2);opacity:0;z-index:2}
}
.csslider1 > #cs_play1:checked ~ ul > li.num0,.csslider1 > #cs_pause1:checked ~ ul > li.num0{-webkit-animation:kenbernsTR 24000ms infinite -2000ms linear;-moz-animation:kenbernsTR 24000ms infinite -2000ms linear;-ms-animation:kenbernsTR 24000ms infinite -2000ms linear;-o-animation:kenbernsTR 24000ms infinite -2000ms linear;animation:kenbernsTR 24000ms infinite -2000ms linear}
.csslider1 > #cs_play1:checked ~ ul > li.num1,.csslider1 > #cs_pause1:checked ~ ul > li.num1{-webkit-animation:kenbernsBR 24000ms infinite 6000ms linear;-moz-animation:kenbernsBR 24000ms infinite 6000ms linear;-ms-animation:kenbernsBR 24000ms infinite 6000ms linear;-o-animation:kenbernsBR 24000ms infinite 6000ms linear;animation:kenbernsBR 24000ms infinite 6000ms linear}
.csslider1 > #cs_play1:checked ~ ul > li.num2,.csslider1 > #cs_pause1:checked ~ ul > li.num2{-webkit-animation:kenbernsTL 24000ms infinite 14000ms linear;-moz-animation:kenbernsTL 24000ms infinite 14000ms linear;-ms-animation:kenbernsTL 24000ms infinite 14000ms linear;-o-animation:kenbernsTL 24000ms infinite 14000ms linear;animation:kenbernsTL 24000ms infinite 14000ms linear}
.csslider1 > #cs_play1:checked ~ ul > li,.csslider1 > #cs_pause1:checked ~ ul > li{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
.csslider1.cs_pauseHover:hover > ul > li,.csslider1 > #cs_pause1:checked ~ ul > li{-webkit-animation-play-state:paused!important;-moz-animation-play-state:paused!important;-ms-animation-play-state:paused!important;-o-animation-play-state:paused!important;animation-play-state:paused!important}
.csslider1 > .slide:checked ~ ul > li{-webkit-animation:none;-moz-animation:none;-ms-animation:none;-o-animation:none;animation:none}
.csslider1{-webkit-perspective:500px;-moz-perspective:500px;-ms-perspective:500px;-o-perspective:500px;perspective:500px}
.csslider1 > .cs_play_pause{-webkit-transition:.5s opacity 0 ease;-moz-transition:.5s opacity 0 ease;-ms-transition:.5s opacity 0 ease;-o-transition:.5s opacity 0 ease;transition:.5s opacity 0 ease}
.csslider1 > .cs_arrowprev{-webkit-transition:.5s opacity .15s ease,.5s -webkit-transform .15s cubic-bezier(0.680,-0.550,0.265,1.550);-moz-transition:.5s opacity .15s ease,.5s -moz-transform .15s cubic-bezier(0.680,-0.550,0.265,1.550);-ms-transition:.5s opacity .15s ease,.5s -ms-transform .15s cubic-bezier(0.680,-0.550,0.265,1.550);-o-transition:.5s opacity .15s ease,.5s -o-transform .15s cubic-bezier(0.680,-0.550,0.265,1.550);transition:.5s opacity .15s ease,.5s transform .15s cubic-bezier(0.680,-0.550,0.265,1.550);-webkit-transform:rotateY(-90deg);-moz-transform:rotateY(-90deg);-ms-transform:rotateY(-90deg);-o-transform:rotateY(-90deg);transform:rotateY(-90deg)}
.csslider1 > .cs_arrownext{-webkit-transition:.5s opacity .3s ease,.5s -webkit-transform .3s cubic-bezier(0.680,-0.550,0.265,1.550);-moz-transition:.5s opacity .3s ease,.5s -moz-transform .3s cubic-bezier(0.680,-0.550,0.265,1.550);-ms-transition:.5s opacity .3s ease,.5s -ms-transform .3s cubic-bezier(0.680,-0.550,0.265,1.550);-o-transition:.5s opacity .3s ease,.5s -o-transform .3s cubic-bezier(0.680,-0.550,0.265,1.550);transition:.5s opacity .3s ease,.5s transform .3s cubic-bezier(0.680,-0.550,0.265,1.550);-webkit-transform:rotateY(90deg);-moz-transform:rotateY(90deg);-ms-transform:rotateY(90deg);-o-transform:rotateY(90deg);transform:rotateY(90deg)}
@media (max-width: 767px) {
.cd-slider li{position:absolute; top:0; left:0; height:100%; width:100%; -webkit-transform:translateX(100%); -moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%); transform:translateX(100%); -webkit-transition:-webkit-transform 0.6s; -moz-transition:-moz-transform 0.6s; transition:transform 0.6s}
.cd-slider li.is-visible{-webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0)}
.cd-slider li{pointer-events:none; z-index:1; -webkit-transform:translateX(0); -moz-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); -webkit-transition:z-index 0s 0.6s; -moz-transition:z-index 0s 0.6s; transition:z-index 0s 0.6s}
.cd-slider li.is-visible{pointer-events:auto; z-index:3; -webkit-transition:z-index 0s 0s; -moz-transition:z-index 0s 0s; transition:z-index 0s 0s}
.cd-slider li.is-visible.covered{ z-index:2}
.cd-slider .cd-half-block{height:100%; width:50%; float:right}
.cd-slider .cd-half-block.content{-webkit-transform:translateX(200%); -moz-transform:translateX(200%); -ms-transform:translateX(200%); -o-transform:translateX(200%); transform:translateX(200%); -webkit-transition:-webkit-transform 0.6s 0s ease-in-out; -moz-transition:-moz-transform 0.6s 0s ease-in-out; transition:transform 0.6s 0s ease-in-out}
.cd-slider li.is-visible .cd-half-block.image{-webkit-transform:translateX(100%); -moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%); transform:translateX(100%); -webkit-transition:-webkit-transform 0s 0.3s; -moz-transition:-moz-transform 0s 0.3s; transition:transform 0s 0.3s}
.cd-slider li.is-visible .cd-half-block.content, .cd-slider li.is-visible .cd-half-block.image{-webkit-transform:translateX(0%); -moz-transform:translateX(0%); -ms-transform:translateX(0%); -o-transform:translateX(0%); transform:translateX(0%)}
.cd-slider li.is-visible .cd-half-block.content{-webkit-transition:-webkit-transform 0.6s 0s ease-in-out; -moz-transition:-moz-transform 0.6s 0s ease-in-out; transition:transform 0.6s 0s ease-in-out}
}