/*---------------------
  Shopping Cart
-----------------------*/
.shopping-cart {
    padding: 80px 0;
}
.shopping-cart h1,.shopping-cart h2,.shopping-cart h3,.shopping-cart h4,.shopping-cart h5,.shopping-cart h6    {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.shopping__cart__table {
	margin-bottom: 30px;
}

.shopping__cart__table table {
	width: 100%;
}

.shopping__cart__table table thead {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table thead tr th {
    padding-left: 24px;
	color: var(--accent-color);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.shopping__cart__table table tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table tbody tr td {
	padding-bottom: 30px;
	padding-top: 30px;
}
.product__cart__item__pic img {
    width: 92px;
}
.shopping__cart__table table tbody tr td.product__cart__item {
	width: 400px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
	float: left;
	margin-right: 20px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
	overflow: hidden;
	padding-top: 21px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 8px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
    font-size: 18px;
}
.shopping__cart__table table tbody tr td.quantity__item {
	width: 175px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 {
	width: 80px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 input {
	width: 50px;
	border: none;
	text-align: center;
	font-size: 16px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 .qtybtn {
    display: inline-block;
	font-size: 16px;
	color: #888888;
	width: 10px;
	cursor: pointer;
}

.shopping__cart__table table tbody tr td.cart__price {
	font-size: 18px;
	width: 140px;
}

.shopping__cart__table table tbody tr td.cart__close i {
    display: inline-block;
    font-size: 16px;
    height: 24px;
    width: 24px;
    background: #f3f2ee;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    color: #999;
    opacity: .7;
}

.continue__btn.update__btn {
	text-align: right;
}

.continue__btn a {
	color: var(--black-color);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #e1e1e1;
	padding: 14px 32px;
	display: inline-block;
}

.cart__discount {
	margin-bottom: 60px;
}

.cart__discount h6 {
	color: var(--accent-color);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.cart__discount form {
	position: relative;
}

.cart__discount form input {
	font-size: 14px;
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
}

.cart__discount form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::-moz-placeholder {
	color: #b7b7b7;
}

.cart__discount form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::placeholder {
	color: #b7b7b7;
}

.cart__discount form button {
	font-size: 14px;
	color: #ffffff;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: var(--primary-color);
	padding: 0 30px;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.cart__total {
	background: #f3f2ee;
	padding: 35px 40px 40px;
}

.cart__total h6 {
	color: var(--black-color);
	text-transform: uppercase;
	margin-bottom: 12px;
}

.cart__total ul {
	margin-bottom: 25px;
}

.cart__total ul li {
	list-style: none;
	font-size: 16px;
	color: #444444;
	line-height: 40px;
    font-weight: normal;
	overflow: hidden;
}

.cart__total ul li span {
	font-weight: 700;
	float: right;
}

.cart__total .btn-primary {
	display: block;
	padding: 12px 10px;
	text-align: center;
    font-size: 15px;
    margin-top: 16px;
    font-weight: normal;
}
/*---------------------
  Shop
-----------------------*/

.shop__sidebar {
	padding-right: 28px;
}

.shop__sidebar__search {
	margin-bottom: 45px;
}

.shop__sidebar__search form {
	position: relative;
}

.shop__sidebar__search form input {
	width: 100%;
	font-size: 15px;
	padding-left: 20px;
	border: 1px solid #e5e5e5;
	height: 42px;
}

.shop__sidebar__search form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-moz-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form input::placeholder {
	color: #b7b7b7;
}

.shop__sidebar__search form button {
	color: #b7b7b7;
	font-size: 15px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	padding: 0 15px;
	top: 0;
	height: 100%;
}

.shop__sidebar__accordion .card {
	border: none;
	border-radius: 0;
	margin-bottom: 25px;
}

.shop__sidebar__accordion .card:last-child {
	margin-bottom: 0;
}

.shop__sidebar__accordion .card:last-child .card-body {
	padding-bottom: 0;
	border-bottom: none;
}

.shop__sidebar__accordion .card-body {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.shop__sidebar__accordion .card-heading {
	cursor: pointer;
}

.shop__sidebar__accordion .card-heading a {
	color: var(--black-color);
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

.shop__sidebar__categories ul,
.shop__sidebar__price ul,
.shop__sidebar__brand ul {
	height: 225px;
	overflow-y: hidden;
    outline: none;
	padding-left: 0;
}

.shop__sidebar__categories ul li,
.shop__sidebar__price ul li,
.shop__sidebar__brand ul li {
	list-style: none;
}

.shop__sidebar__categories ul li a,
.shop__sidebar__price ul li a,
.shop__sidebar__brand ul li a {
	color: var(--accent-color);
	font-size: 15px;
	line-height: 32px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	font-weight: normal;
}

.shop__sidebar__categories ul li a:hover,
.shop__sidebar__price ul li a:hover,
.shop__sidebar__brand ul li a:hover {
	color: var(--black-color);
}

.shop__sidebar__brand ul {
	height: auto;
}

.shop__sidebar__price ul {
	height: auto;
}

.shop__sidebar__size {
	padding-top: 15px;
}

.shop__sidebar__size label {
	color: var(--black-color);
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 6px 25px;
	margin-bottom: 10px;
	margin-right: 5px;
	cursor: pointer;
}

.shop__sidebar__size label.is-active {
	background: var(--black-color);
	color: #ffffff;
	border-color: var(--black-color);
}

.shop__sidebar__size label input {
	position: absolute;
	visibility: hidden;
}

.shop__sidebar__color {
	padding-top: 15px;
}

.shop__sidebar__color .shop-color-label {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.shop-color-label.c-1 {
	background: #0b090c;
}

.shop-color-label.c-2 {
	background: #204cc3;
}

.shop-color-label.c-3 {
	background: #f1af4d;
}

.shop-color-label.c-4 {
	background: #9c8db6;
}

.shop-color-label.c-5 {
	background: #589658;
}

.shop-color-label.c-6 {
	background: #e8bac4;
}

.shop-color-label.c-7 {
	background: #ed1c24;
}

.shop-color-label.c-8 {
	background: #f8f8f8;
}

.shop__sidebar__color .shop-color-label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 36px;
	width: 36px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}
.shop-color-label.is-active:after {
	border-color: var(--second-color);
}

.shop__sidebar__color .shop-color-label input {
	position: absolute;
	visibility: hidden;
}

.shop__sidebar__tags {
	padding-top: 15px;
}

.shop__sidebar__tags a {
	color: var(--black-color);
	font-size: 13px;
	font-weight: normal;
	background: #f1f5f8;
	padding: 5px 18px;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 6px;
	margin-bottom: 10px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.shop__sidebar__tags a:hover,
.shop__sidebar__tags a.is-active {
	background: var(--second-color);
	color: #ffffff;
}

.shop__sidebar__accordion .card-heading a:after,
.shop__sidebar__accordion .card-heading>a.is-active[aria-expanded=false]:after {
	content: "\f107";
	font-family: "FontAwesome";
	font-size: 20px;
	font-weight: 500;
	color: var(--accent-color);
	position: absolute;
	right: 0;
	top: 0px;
	line-height: 20px;
}

.shop__sidebar__accordion .card-heading.is-active a:after {
	content: "\f107";
	font-family: "FontAwesome";
	font-size: 24px;
	font-weight: 700;
	color: var(--black-color);
	position: absolute;
	right: 0;
	top: 2px;
	line-height: 20px;
}

.shop__product__option {
	margin-bottom: 45px;
}

.shop__product__option p {
	color: var(--black-color);
	margin-bottom: 0;
}

.shop__product__option__right {
	text-align: right;
}
.shop__product__option__right select,
.shop__product__option p,
.shop__product__option__right a {
	padding: 8px 0;
	font-size: 14px;
	font-weight: normal;
}

.shop__product__option__right p {
	display: inline-block;
	margin-bottom: 0;
}

.shop__product__option__right .nice-select {
	float: none;
	display: inline-block;
	padding: 0;
	line-height: 26px;
	height: auto;
	border: none;
	padding-right: 28px;
}

.shop__product__option__right .nice-select:after {
	border-bottom: 1.5px solid var(--black-color);
	border-right: 1.5px solid var(--black-color);
	height: 8px;
	right: 12px;
	width: 8px;
}

.shop__product__option__right .nice-select span {
	color: var(--black-color);
	font-size: 15px;
	font-weight: 700;
}

.shop__product__option__right .nice-select .list {
	border-radius: 0;
}

.filter-range-wrap .range-slider .price-input {
	position: relative;
}

.filter-range-wrap .range-slider .price-input p {
	font-size: 14px;
	color: var(--accent-color);
	font-weight:normal;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 4px;
}

.filter-range-wrap .range-slider .price-input:after {
    content: "";
	position: absolute;
    left: calc(46px + 25%);
    top: 15px;
    height: 1px;
    width: 5px;
    background: var(--black-color);
}

.filter-range-wrap .range-slider .price-input input {    
	font-size: 14px;
    max-width: 25%;
    text-align: center;
    border: none;
    border: 1px solid #e1e1e1;
    padding: 2px;
}

.filter-range-wrap .range-slider .price-input input#minamount {
	margin-right: 12px;
}

.filter-range-wrap .price-range {
	border-radius: 0;
	margin-bottom: 28px;
}

.filter-range-wrap .price-range.ui-widget-content {
	position: relative;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	height: 5px;
}

.filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	display: inline-block;
    position: absolute;
    top: -5px;
	height: 14px;
	width: 14px;
	margin-left: -2px;
	border-radius: 50%;
	background: var(--second-color);
	border: none;
	outline: none;
	cursor: pointer;
}

.filter-range-wrap .price-range .ui-slider-range {
	position: absolute;
	background: var(--second-color);
	border-radius: 0;
	height: 5px;
}
/*---------------------
  Product
-----------------------*/

.product {
	padding-top: 0;
	padding-bottom: 60px;
}

.filter__controls {
	text-align: center;
	margin-bottom: 45px;
}

.filter__controls li {
	color: #b7b7b7;
	font-size: 24px;
	font-weight: 700;
	list-style: none;
	display: inline-block;
	margin-right: 88px;
	cursor: pointer;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.filter__controls li.is-active {
	color: var(--black-color);
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: var(--black-color);
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 18px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: var(--black-color);
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: var(--black-color);
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: var(--black-color);
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 20px;
	position: relative;
}

.product__item__text a.add-cart {
	font-size: 15px;
	color: var(--second-color);
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: var(--black-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	margin-bottom: 8px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
	margin-right: -5px;
}

.product__item__text h5 {
	font-weight: normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.is-active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}
/*---------------------
  Shop-detail
-----------------------*/

.product__details__pic {
	text-align: center;
	background: #f3f2ee;
	padding: 40px 0 60px;
	margin-bottom: 32px;
}

.product__details__pic .nav-tabs {
	border-bottom: none;
	width: 105px;
	align-content: flex-start;
}

.product__details__pic .nav-tabs .nav-item {
	margin-bottom: 8px;
}

.product__details__pic .nav-tabs .nav-item:last-child {
	margin-bottom: 0;
}

.product__details__pic .nav-tabs .nav-item .nav-link {
	padding: 0;
	display: block;
}

.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
	height: 100px;
	width: 100px;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic i {
	height: 56px;
	width: 56px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(0,0,0,0.1);
	line-height: 54px;
	display: inline-block;
	text-align: center;
}

.product__details__pic .nav-tabs .nav-item.show .nav-link,
.product__details__pic .nav-tabs .nav-link.active {
	background-color: transparent;
	border-color: transparent;
}

.product__details__breadcrumb {
	margin-bottom: 36px;
	text-align: left;
}

.product__details__breadcrumb a {
	font-size: 15px;
	color: var(--black-color);
	margin-right: 18px;
	display: inline-block;
	position: relative;
	font-weight: normal;
}

.product__details__breadcrumb a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "\f105";
	font-family: "FontAwesome";
}

.product__details__breadcrumb span {
	font-size: 15px;
	color: var(--accent-color);
	display: inline-block;
	font-weight: normal;
}

.product__details__pic__item {
	position: relative;
}
.product__details__pic__item img {
	width: 100%;
}

.product__details__pic__item a {
	height: 100px;
	width: 100px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-size: 24px;
	color: #ffffff;
	line-height: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	background: rgba(0,0,0,.16);
}
.shop_detail-tab-content {
	width: calc(100% - 112px);
    margin-left: 12px;
}
.product__details__text {
	text-align: left;
	width: 90%;
	margin: 0 auto;
}
.product__details__text h1 ,
.product__details__text h3 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product__details__text h4 {
	color: var(--black-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

.product__details__text .rating {
	margin-bottom: 16px;
}

.product__details__text .rating i {
	font-size: 15px;
	color: #f7941d;
	display: inline-block;
	margin-right: -5px;
}

.product__details__text .rating span {
	display: inline-block;
	color: var(--gray-color-600);
	margin-left: 5px;
	font-size: 14px;
	font-weight: normal;
}
.product__details__text h1 {
	font-size: 2.2rem;
	line-height: 1.3;
}
.product__details__text h3 {
	font-weight: 500;
	margin-top: 4px;
	margin-bottom: 12px;
	font-size: 32px;
}

.product__details__text h3 span {
	color: var(--accent-color);
	font-size: 18px;
	font-weight: 400;
	margin-left: 10px;
	text-decoration: line-through;
}

.product__details__text p {
	margin-bottom: 32px;
	font-size: 16px;
	font-weight: 400;
}

.product__details__option {
	margin-bottom: 20px;
}

.product__details__option__size,
.product__details__option__color {
	display: inline-flex;
	align-items: center;
	margin-right: 50px;
	margin-bottom: 20px;
}

.product__details__option__size span,
.product__details__option__color span {
	color: var(--black-color);
	display: inline-block;
	margin-right: 12px;
	font-weight: normal;
	font-size: 14px;
	white-space: nowrap;
}

.product__details__option__size label {
	color: var(--black-color);
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	background: rgba(255, 255, 255,.5);
	padding: 6px 15px;
	margin-bottom: 0;
	margin-right: 5px;
	cursor: pointer;
}
.product__details__option__size label:hover {
	background: rgba(255, 255, 255,1);

}

.product__details__option__size label.is-active {
	background: var(--second-color);
	color: #ffffff;
	border-color: var(--second-color);
}

.product__details__option__size label input {
	position: absolute;
	visibility: hidden;
}



.product__details__option__color label {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
	margin-right: 16px;
	margin-bottom: 0;
	display: inline-block;
	cursor: pointer;
}
.product__details__option__color label.is-active:after {
	border-color: var(--second-color);
}

.product__details__option__color label:after {
	position: absolute;
    left: -4px;
    top: -4px;
    height: 32px;
    width: 32px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}

.product__details__option__color label input {
	position: absolute;
	visibility: hidden;
}

.product__details__cart__option {
	margin-bottom: 32px;
}

.product__details__cart__option .quantity {
	display: inline-block;
	margin-right: 16px;
}

.product__details__cart__option .quantity .pro-qty {
	width: 100px;
	height: 48px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	position: relative;
}

.product__details__cart__option .quantity .pro-qty input {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	width: 70px;
	height: 100%;
	text-align: center;
	border: none;
}

.product__details__cart__option .quantity .pro-qty .qtybtn {
	font-size: 15px;
	position: absolute;
	right: 12px;
	top: 4px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	font-weight: normal;
}

.product__details__cart__option .quantity .pro-qty .qtybtn.inc {
	top: 24px;
}

.product__details__btns__option {
	margin-bottom: 40px;
}

.product__details__cart__option .btn-primary {
	background-color: var(--black-color);
	font-size: 17px;
    padding: 0px 40px;
    height: 48px;
    line-height: 48px;
	border: none;;
}

.product__details__cart__option .btn-primary:hover {
	background-color: var(--second-color);
}

.product__details__btns__option a {
	display: inline-block;
	font-size: 13px;
	color: #3d3d3d;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 20px;
}

.product__details__btns__option a:last-child {
	margin-right: 0;
}

.product__details__last__option h5 {
	color: var(--black-color);
	font-weight: 700;
	font-size: 20px;
	position: relative;
	margin-bottom: 26px;
}

.product__details__last__option h5 span {
	background: #ffffff;
	padding: 0 30px;
}

.product__details__last__option h5:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	height: 1px;
	width: 460px;
	background: #e5e5e5;
	content: "";
	z-index: -1;
	margin: 0 auto;
}

.product__details__last__option ul {
	margin-top: 12px;
	padding-left: 0;
}

.product__details__last__option ul li {
	list-style: none;
	font-size: 14px;
	color: var(--accent-color);
	font-weight: normal;
	line-height: 2;
}

.product__details__last__option ul li span {
	font-weight: 400;
	color: #b7b7b7;
}

.product__details__last__option .ic_payway {
	height: 18px;
    margin-right: 8px;
	margin-bottom: 2px;
	filter: grayscale(1) opacity(0.6);
}

.product__details__tab {
	padding-top: 60px;
    max-width: 1200px;
    margin: 0 auto 92px;
}

.product__details__tab .nav-tabs {
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__tab .nav-tabs .nav-item {
	margin-right: 50px;
}

.product__details__tab .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.product__details__tab .nav-tabs .nav-item .nav-link {
	font-size: 18px;
	color: var(--gray-color-600);
	padding: 0;
	border: none;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
}

.product__details__tab .nav-tabs .nav-item .nav-link.active {
	border-bottom: 2px solid var(--second-color);
	color: var(--second-color);
}

.product__details__tab__content {
	margin: 0 auto;
	padding-top: 36px;
	max-width: 800px;
	font-weight: normal;
	font-size: 1.05rem;
	line-height: 1.8;
}
.product__details__tab__content table {
	width: 100%;
	max-width: 600px;
	margin:0 auto 40px;
}
.product__details__tab__content table td {
	border: 1px solid var(--gray-color-400);
	font-size: 15px;
    padding: 8px 12px;
}
.product__details__tab__content img {
	width: 100%;
}

.note {
	color: var(--black-color);
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}

.product__details__tab__content__item {
	margin-bottom: 30px;
}

.product__details__tab__content__item:last-child {
	margin-bottom: 0;
}

.product__details__tab__content__item h5 {
	color: var(--black-color);
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}

.product__details__tab__content__item p {
	margin-bottom: 0;
}
/*---------------------
  RWD
-----------------------*/

@media only screen and (max-width: 991px) {  
	.shop__sidebar__accordion {
		display: none;
	}
	.shop__product__option__right a.toggle-accordion {
		display: inline-block;
	}
	.shop__sidebar {
		padding-right: 0;
	}
	.shop__sidebar__search {
		margin-bottom: 24px;
	}
	.shop__product__option__left {
		display: none;
	}
	.shop__product__option {
		margin-bottom: 32px;
	}
	.shop__product__option__right select, .shop__product__option p, .shop__product__option__right a {
		color: var(--accent-color);
	}
	a.product__item__pic img {
		border-radius: 4px;
	}
	.shop__sidebar__accordion {
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		padding: 12px 20px;
		position: absolute;
		background: #fff;
		z-index: 999999;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	}
	.shop-accordion-title {
		display: flex;
		align-items: center;
	}
	.close-accordion {
		font-size: 1.8rem;
	}
	.product__item .add-cart,
	.product__color__select {
		display: none;
	}
	.product__item:hover .product__item__text h6 {
		opacity: 1;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shop__sidebar {
		padding-right: 0;
		padding-top: 40px;
	}
	.cart__discount {
		margin-top: 40px;
	}
}
@media only screen and (max-width: 767px) { 
    .shopping__cart__table {
		overflow-y: auto;
	}
	.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
		float: none;
		margin-right: 0;
	}
	.continue__btn {
		text-align: center;
	}
	.continue__btn.update__btn {
		text-align: center;
		margin-top: 20px;
	}
	.cart__discount {
		margin-top: 40px;
	}
	.checkout__order {
		margin-top: 20px;
	}
	.product__details__text {
		margin-top: 24px;
	}
	.product__details__text h1 {
		font-size: 2rem;
	}
	.product__details__cart__option {
		text-align: center;
	}
	.product__details__cart__option .btn-primary {
		padding: 0 48px;
	}
}

@media only screen and (max-width: 520px) {
	.cart__total {
		padding: 35px 30px 40px;
	}
	.product__item__text h6 {
		font-size: 15px;
	}
	.product__item__text h5 {
		font-size: 18px;
	}
	.product__details__pic .nav-tabs .nav-item .nav-link .product__thumb__pic {
		width: 68px;
		height: 68px;
	}
	.product__details__pic .nav-tabs {
		width: 72px;
	}
	.shop_detail-tab-content {
		width: calc(100% - 72px);
		margin-left: 5px;
	}
	.product__details__tab .nav-tabs .nav-item {
		margin-right: 24px;
	}
	.product__details__tab .nav-tabs .nav-item .nav-link {
		font-size: 16px; 
	}
	.product__details__pic {
		padding: 40px 0 40px;
	}
	
	.continue__btn.update__btn,.continue__btn {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
    .shopping-cart .container,
	.shop-details .container,
	.shop .container  {
        max-width: 1200px;
	}
}