.navbar-brand {
    img {
        width: 32px;
        margin-right: 8px;
        position: relative;
        top: -4px;
    }
}
.navbar .highlight .nav-button {
    color: #fff !important;
    border: 1px solid var(--black);
    background: var(--black);
    font-size: 0.93rem;
    border-radius: 99rem;
    font-weight: bold;
    padding: 9px 24px;
}
.navbar  .badge-secondary {
    position: relative;
    top: -2px;
    background-color: var(--pink);
    font-size: 12px;
}
@media (max-width: 992px) { 
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0px;
        width: 100%;
        background: rgb(255, 255, 255);
        padding: 12px 0;
    }
    .nav-user {
        margin-left: 8px;
    }
}
@media (max-width: 768px) { 
    .navbar  {
        .highlight .nav-button {
            padding: 8px 16px;
            font-size: 14px;
            margin-left: 4px;
        }
        li.nav-item {
            font-size: 14px;
        }
    }
    .navbar-brand {
        margin-right: 0!important;
    }
    .navbar {
        padding-right: .5rem;
    }
}
@media (max-width: 420px) {
    .navbar {
        .navbar-brand img {
            width: 24px;
        }
        .navbar-brand {
            font-size: 18px;
        }
    }
    .navbar-collapse {
        top: 50px;
    }
    .navbar .highlight .nav-button {
        font-size: 12px;
    }
} 