//登入驗證碼
.code-form {
  .code-img {
    padding: 4px;
    width: 100px;
    border: 1px solid var(--pink-light);
  }
  .form-control {
    width: calc(100% - 116px);
    margin-right: 12px;
  }  
}
.btn.btn-login {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  &:hover {
    background-color: #fff;
  }
  img {
    float: left;
    width: 40px;
  }
}
.plan-section {
  .card.border-radius  {
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .05);
    .btn-white:hover {
      background-color: #fff;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 8px 0;
      text-align: center;
      border-bottom: 1px dashed #eee;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}