
.file-upload {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .btn.file-upload-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
  }
  .file-upload-btn:hover {
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
  }
  
  .file-upload-content {
    display: none;
    border: 1px solid #e5e5e5;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed var(--pink-light);
    position: relative;
  }
  .image-upload-wrap:hover {
    border: 4px dashed var(--black);
  }
  
  .image-dropping {
    border: 4px dashed var(--pink);
  }
  
  .image-title-wrap {
    padding: 0 15px 15px;
    color: var(--black);
  }
  
  .drag-text {
    text-align: center;
  }
  .drag-text h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--black);
    padding: 88px 0 32px;
  }
  
  .file-upload-image {
    max-height: 300px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    margin: 0;
    color: var(--red);
    background: var(--pink-light);
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
  }
  .remove-image:hover {
    background: var(--red);
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    transition: all 0.2s ease;
  }
  .choose-style {
    margin: 0 -4px;
    & > div {
        margin-bottom: 8px;
        padding: 0 4px;
    }
    .img-box {
        position: relative;
        width:100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
    a {
        text-decoration: none;
        color: var(--black);
        &.is-active {
            color: var(--pink);
            .img-box::before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border: 4px solid var(--pink-light);
                z-index: 2;
            }
        }
    }
    p {
        margin-top: 4px;
        font-size: 14px;
    }
}
.main-art {
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 100%;
    margin: 0 auto 20px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    box-sizing: border-box;
}
.loading-simulator {
    position: relative;
    overflow: hidden;
}
.loading-simulator::before {
    content: "";
    display: block;
    top: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    transform: translateZ(0);
    animation: horizontalScan 1.2s 0s ease-in-out infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
}
@keyframes horizontalScan {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
}
.art-price {
    max-width: 500px;
    margin: 0 auto;
}
@media (max-width: 768px) { 
    .drag-text h3 {
        opacity: 0;
    }
    .btn.file-upload-btn {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main-art {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    .art-price {
        div.justify-content-between {
            justify-content: center !important;
        }
        h2 {
            margin-left: auto !important;
            margin-right: auto !important;
        }
        p {
            padding: 4px 16px;
        }
    }
}