/* Base Styles -------------------- */
@charset "UTF-8";
:root {
    --black : #212529;
    --pink-light:  #ffd7d7;
    --pink: #e59c9c;
    --primary: #e59c9c;
    --red-text:#c24b4d;
    --green:#03a87c;
    --green-light: #97e0cd;
    --green-text:#048d69;
}
.bg-pink {
    background-color: #ffeded;
}